
{% extends 'base.html' %} 
{% block content %} 



    <nav class="navbar is-light container.is-max-widescreen" role="navigation" aria-label="main navigation">
      <div class="navbar-brand" style = "max-height: 50px;">
        <img src="{{url_for('static', filename='Logo.png')}}" width = "70px">
              
       
  
    
      <div id="navbarBasicExample" class="navbar-menu" style = "max-height: 50px;">
        <div class="navbar-start">
          <a class="navbar-item" style = "background-color: lightblue;">
            Новые курсы
          </a>
    
          <a class="navbar-item">
            Новые отзывы
          </a>

          <a class="navbar-item">
            Клиентские предпочтения
          </a>    
        
            <a class="navbar-item">
              Заявки на сотрудничество
            </a>
    
           
        </div>
    
        <div class="navbar-end" style="float:right;">
          <div class="navbar-item">
            <div class="buttons" style="float:right;">
              
              <a class="button is-link" >
                Выйти
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </nav>


 
<!-- заявка 1 -->

  <div class="box" style="padding:10px; ">
  <article class="media">

    <div class="media-content">
      <div class="content level-item column is-one-quarter" style = "text-align: center;">
        <p>
          <strong>Маркетинг за 30 дней</strong> 
          <br>
          <strong>SkillBox</strong>
          <br>
        </p>
      </div>


   <!-- строка 1 -->
<div class="level-left" style="padding: 2px;">
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7">
      <strong>Категория</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <input class="input is-link" type="text" placeholder="Link input" style = "width:500px;">

  </div>


</div>

   <!-- строка 2 -->
   <div class="level-left" style="padding: 2px;">
    <div class="level-item column is-one-quarter" style = "text-align: right;">
      <p class="subtitle is-7">
        <strong>Краткое описание</strong>
      </p>
    </div>
  
    <div class="level-item column is-half">
  
      <input class="input is-link" type="text" placeholder="Link input" style = "width:500px;">
  
    </div>
  
  
  </div>

<!-- строка 3 -->
<div class="level-left" style="padding: 2px;">
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7">
      <strong>Изображение</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <input class="input is-link" type="text" placeholder="Link input" style = "width:500px;">

  </div>

  <div class="buttons container is-max-widescreen column is-half" style = "align-items: center; display: inline-block;">
    <button class="button is-link" style = "align-items: center; float: none;">Создать курс
    </button>
    <button class="button is-danger" style = "align-items: center; float: none;">Удалить заявку
    </button>
  </div>
</div>
</article>
</div>

<!-- заявка 2 -->

<div class="box" style="padding:10px; ">
  <article class="media">

    <div class="media-content">
      <div class="content level-item column is-one-quarter" style = "text-align: center;">
        <p>
          <strong>Продавай как волк с Уолл-Стрит</strong> 
          <br>
          <strong>Метаморфозы</strong>
          <br>
        </p>
      </div>


   <!-- строка 1 -->
<div class="level-left" style="padding: 2px;">
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7">
      <strong>Категория</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <input class="input is-link" type="text" placeholder="Link input" style = "width:500px;">

  </div>


</div>

   <!-- строка 2 -->
   <div class="level-left" style="padding: 2px;">
    <div class="level-item column is-one-quarter" style = "text-align: right;">
      <p class="subtitle is-7">
        <strong>Краткое описание</strong>
      </p>
    </div>
  
    <div class="level-item column is-half">
  
      <input class="input is-link" type="text" placeholder="Link input" style = "width:500px;">
  
    </div>
  
  
  </div>

<!-- строка 3 -->
<div class="level-left" style="padding: 2px;">
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7">
      <strong>Изображение</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <input class="input is-link" type="text" placeholder="Link input" style = "width:500px;">

  </div>

  <div class="buttons container is-max-widescreen column is-half" style = "align-items: center; display: inline-block;">
    <button class="button is-link" style = "align-items: center; float: none;">Создать курс
    </button>
    <button class="button is-danger" style = "align-items: center; float: none;">Удалить заявку
    </button>
  </div>


    </div>
  </article>
</div>




    


  {% endblock %}