
{% extends 'base.html' %} 
{% block content %} 



    <nav class="navbar is-light container.is-max-widescreen" role="navigation" aria-label="main navigation">
      <div class="navbar-brand" style = "max-height: 50px;">
        <img src="{{url_for('static', filename='Logo.png')}}" width = "70px">
              
       
  
    
      <div id="navbarBasicExample" class="navbar-menu" style = "max-height: 50px;">
        <div class="navbar-start">
          <a class="navbar-item">
            Новые курсы
          </a>
    
          <a class="navbar-item">
            Новые отзывы
          </a>

          <a class="navbar-item">
            Клиентские предпочтения
          </a>    
        
            <a class="navbar-item">
              Заявки на сотрудничество
            </a>
    
           
        </div>
    
        <div class="navbar-end" style="float:right;">
          <div class="navbar-item">
            <div class="buttons" style="float:right;">
              
              <a class="button is-link" >
                Выйти
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </nav>


    <div class="container.is-max-widescreen" style="padding:20px; align-items: center;" >
      
      <div style="padding:10px; display:inline-flex;" >
      <button class="button is-info is-light">Все курсы</button>
    </div>
    <div style="padding:10px; display:inline-flex;" >
      <button class="button is-info is-light">Маркетинг</button>
    </div>

      <div style="padding:10px; display:inline-flex;" >
      <button class="button is-info is-light">Продакт-менеджмент</button>
    </div>

      <div style="padding:10px; display:inline-flex;" >
      <button class="button is-info is-light">Дизайн</button>
    </div>
    
  </div>
 


  <div class="box" style="padding:40px; ">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Название курса</strong> 
          <br>
          <small style = "color:blue;">Категория</small> 
          <br>
          Описание курса.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>
      </div>
      <nav class="level is-mobile">
        <div>
          <div style = "position:fixed; float:inline-start;">
          <p style = "float:left;";>Рейтинг</p>
          <a class="level-item" aria-label="like" style = "padding-top: 5px; padding-left: 30px;"> 
            <span class="icon is-small">
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
            </span>
          </a>
        </div>
          <br>
          <div class="buttons" style="position: relative; float:right;">
          <button class="button is-link" style="position: relative; float:right;">Смотреть отзывы</button>
          <button class="button is-danger" style="position: relative; float:right;">Удалить курс</button>
        </div>
        </div>
      </nav>
    </div>
  </article>
</div>




    


  {% endblock %}