
{% extends 'base.html' %} 
{% block content %} 



<nav class="navbar is-light container.is-max-widescreen" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" style = "max-height: 50px;">
    <img src="{{url_for('static', filename='Logo.png')}}" width = "70px">
          
   


  <div id="navbarBasicExample" class="navbar-menu" style = "max-height: 50px;">
    <div class="navbar-start">
      <a class="navbar-item" >
        Новые курсы
      </a>

      <a class="navbar-item">
        Новые отзывы
      </a>

      <a class="navbar-item" >
        Клиентские предпочтения
      </a>    
    
        <a class="navbar-item" style = "background-color: lightblue;">
          Заявки на сотрудничество
        </a>

       
    </div>

    <div class="navbar-end" style="float:right;">
      <div class="navbar-item">
        <div class="buttons" style="float:right;">
          
          <a class="button is-link" >
            Выйти
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</nav>



    <section class="section">

           <!-- Main container -->
<nav class="level" style = "background-color: hsl(0, 0%, 96%); display:block; height: 100%;">
 


<!-- строка 1 -->
<div class="level-left" >
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7" style = "font-weight: bold; ">
      <strong style = "color: darkblue;">Имя и Фамилия</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <p class="subtitle is-7">
      <strong>Татьяна Иванова</strong>
    </p>

  </div>


</div>

<!-- строка 2 -->
<div class="level-left" >
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7" style = "font-weight: bold; ">
      <strong style = "color: darkblue;">Школа</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <p class="subtitle is-7">
      <strong>Нетология</strong>
    </p>

  </div>


</div>

<!-- строка 3 -->
<div class="level-left" >
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7" style = "font-weight: bold; ">
      <strong style = "color: darkblue;">Запрос</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <p class="subtitle is-7">
      <strong>Вышлите, пожалуйста, прайс-лист</strong>
    </p>

  </div>


</div>

<!-- строка 4 -->
<div class="level-left" >
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7" style = "font-weight: bold; ">
      <strong style = "color: darkblue;">Email</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <p class="subtitle is-7">
      <strong>tatiana.marketing@net.ru
      </strong>
    </p>

  </div>

  <div class="level-item column is-one-quarter" >
    <button class="button is-link">Связаться</button>
  </div>


</div>


</nav>



        </section>


        <section class="section">

          <!-- Main container -->
<nav class="level" style = "background-color: hsl(0, 0%, 96%); display:block; height: 100%;">



<!-- строка 1 -->
<div class="level-left" >
 <div class="level-item column is-one-quarter" style = "text-align: right;">
   <p class="subtitle is-7" style = "font-weight: bold; ">
     <strong style = "color: darkblue;">Имя и Фамилия</strong>
   </p>
 </div>

 <div class="level-item column is-half">

   <p class="subtitle is-7">
     <strong>Дмитрий Неверов</strong>
   </p>

 </div>


</div>

<!-- строка 2 -->
<div class="level-left" >
 <div class="level-item column is-one-quarter" style = "text-align: right;">
   <p class="subtitle is-7" style = "font-weight: bold; ">
     <strong style = "color: darkblue;">Школа</strong>
   </p>
 </div>

 <div class="level-item column is-half">

   <p class="subtitle is-7">
     <strong>Академия Неверова
    </strong>
   </p>

 </div>


</div>

<!-- строка 3 -->
<div class="level-left" >
 <div class="level-item column is-one-quarter" style = "text-align: right;">
   <p class="subtitle is-7" style = "font-weight: bold; ">
     <strong style = "color: darkblue;">Запрос</strong>
   </p>
 </div>

 <div class="level-item column is-half">

   <p class="subtitle is-7">
     <strong>Будете ли вы полезны небольшим нишевым курсам? Где можно увидеть ваше портфолио?</strong>
   </p>

 </div>


</div>

<!-- строка 4 -->
<div class="level-left" >
 <div class="level-item column is-one-quarter" style = "text-align: right;">
   <p class="subtitle is-7" style = "font-weight: bold; ">
     <strong style = "color: darkblue;">Email</strong>
   </p>
 </div>

 <div class="level-item column is-half">

   <p class="subtitle is-7">
     <strong>d@neverov.org
     </strong>
   </p>

 </div>

 <div class="level-item column is-one-quarter" >
   <button class="button is-link">Связаться</button>
 </div>


</div>


</nav>



       </section>

       


    


  {% endblock %}