
{% extends 'base.html' %} 
{% block content %} 



<nav class="navbar is-light container.is-max-widescreen" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" style = "max-height: 50px;">
    <img src="{{url_for('static', filename='Logo.png')}}" width = "70px">
          
   


  <div id="navbarBasicExample" class="navbar-menu" style = "max-height: 50px;">
    <div class="navbar-start">
      <a class="navbar-item" >
        Новые курсы
      </a>

      <a class="navbar-item">
        Новые отзывы
      </a>

      <a class="navbar-item" style = "background-color: lightblue;">
        Клиентские предпочтения
      </a>    
    
        <a class="navbar-item">
          Заявки на сотрудничество
        </a>

       
    </div>

    <div class="navbar-end" style="float:right;">
      <div class="navbar-item">
        <div class="buttons" style="float:right;">
          
          <a class="button is-link" >
            Выйти
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</nav>



    <section class="section">

           <!-- Main container -->
<nav class="level" style = "background-color: hsl(0, 0%, 96%); display:block; height: 100%;">
 
<!-- строка 0 -->
<div class="level-left" >
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7" style = "font-weight: bold; ">
      <strong style = "color: darkblue;">Пользователь</strong>
    </p>
  </div>
 
  <div class="level-item column is-half">
 
    <p class="subtitle is-7">
      <strong>stevejobs1</strong>
    </p>
 
  </div>
 
 
 </div>

<!-- строка 1 -->
<div class="level-left" >
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7" style = "font-weight: bold; ">
      <strong style = "color: darkblue;">Категория</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <p class="subtitle is-7">
      <strong>Маркетинг</strong>
    </p>

  </div>


</div>

<!-- строка 2 -->
<div class="level-left" >
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7" style = "font-weight: bold; ">
      <strong style = "color: darkblue;">Школа</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <p class="subtitle is-7">
      <strong>Нетология</strong>
    </p>

  </div>


</div>

<!-- строка 3 -->
<div class="level-left" >
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7" style = "font-weight: bold; ">
      <strong style = "color: darkblue;">Желаемые навыки</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <p class="subtitle is-7">
      <strong>Как запускать кампании, понимать мотивы покупателей</strong>
    </p>

  </div>


</div>

<!-- строка 4 -->
<div class="level-left" >
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7" style = "font-weight: bold; ">
      <strong style = "color: darkblue;">Другие комментарии</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <p class="subtitle is-7">
      <strong>Чем короче курс, тем лучше!</strong>
    </p>

  </div>


</div>


</nav>



        </section>

        <section class="section">

          <!-- Main container -->
<nav class="level" style = "background-color: hsl(0, 0%, 96%); display:block; height: 100%;">

  <!-- строка 0 -->
  <div class="level-left" >
   <div class="level-item column is-one-quarter" style = "text-align: right;">
     <p class="subtitle is-7" style = "font-weight: bold; ">
       <strong style = "color: darkblue;">Пользователь</strong>
     </p>
   </div>
  
   <div class="level-item column is-half">
  
     <p class="subtitle is-7">
       <strong>barsik86</strong>
     </p>
  
   </div>
  
  
  </div>

<!-- строка 1 -->
<div class="level-left" >
 <div class="level-item column is-one-quarter" style = "text-align: right;">
   <p class="subtitle is-7" style = "font-weight: bold; ">
     <strong style = "color: darkblue;">Категория</strong>
   </p>
 </div>

 <div class="level-item column is-half">

   <p class="subtitle is-7">
     <strong>Дизайн</strong>
   </p>

 </div>


</div>

<!-- строка 2 -->
<div class="level-left" >
 <div class="level-item column is-one-quarter" style = "text-align: right;">
   <p class="subtitle is-7" style = "font-weight: bold; ">
     <strong style = "color: darkblue;">Школа</strong>
   </p>
 </div>

 <div class="level-item column is-half">

   <p class="subtitle is-7">
     <strong>Любая</strong>
   </p>

 </div>


</div>

<!-- строка 3 -->
<div class="level-left" >
 <div class="level-item column is-one-quarter" style = "text-align: right;">
   <p class="subtitle is-7" style = "font-weight: bold; ">
     <strong style = "color: darkblue;">Желаемые навыки</strong>
   </p>
 </div>

 <div class="level-item column is-half">

   <p class="subtitle is-7">
     <strong>Фигма, фотошоп, UI</strong>
   </p>

 </div>


</div>

<!-- строка 4 -->
<div class="level-left" >
 <div class="level-item column is-one-quarter" style = "text-align: right;">
   <p class="subtitle is-7" style = "font-weight: bold; ">
     <strong style = "color: darkblue;">Другие комментарии</strong>
   </p>
 </div>

 <div class="level-item column is-half">

   <p class="subtitle is-7">
     <strong>Больше практики, надоели долгие занудные лекции.</strong>
   </p>

 </div>


</div>


</nav>



       </section>

  


    


  {% endblock %}