<!DOCTYPE html>
<html>
  <head>
    <style>

</style>

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ScaleBox</title>
<script src="https://kit.fontawesome.com/808b8b9602.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">

</head>

  <body>

    {% block content %} 
    {% endblock %}



    </body>