
{% extends 'base.html' %} 
{% block content %} 



    <nav class="navbar is-light container.is-max-widescreen" role="navigation" aria-label="main navigation">
      <div class="navbar-brand" style = "max-height: 50px;">
        <img src="{{url_for('static', filename='Logo.png')}}"  width="70px">
              
       
  
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start" >
          <a class="navbar-item" style = "background-color: lightblue;">
            Оставить отзыв
          </a>
    
          <a class="navbar-item">
            Онлайн школы
          </a>
    
        
            <a class="navbar-item">
              ScoreBox - о нас
            </a>
    
           
        </div>
    
        <div class="navbar-end" style="float:right;">
          <div class="navbar-item">
            <div class="buttons" style="float:right;">
              
              <a class="button is-link" >
                Выйти
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </nav>




    <!-- Main container -->
<nav class="level" style = "background-color: hsl(0, 0%, 96%); display:block; height: 100%;">
  <div class="container is-max-widescreen column " style = "text-align: left;">
    <p class="subtitle is-5">
      Пожалуйста, оставьте свой отзыв:
    </p>
  </div>
  <!-- строка 1 -->
  <div class="level-left" style="padding: 10px;">
    <div class="level-item column is-one-quarter" style = "text-align: right;">
      <p class="subtitle is-7">
        <strong>Категория</strong>
      </p>
    </div>

    <div class="level-item column is-half">
  
      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
            <span>Выбрать</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
          <div class="dropdown-content">
            <a href="#" class="dropdown-item">
              Маркетинг
            </a>
             <a href="#" class="dropdown-item">
              Дизайн
            </a>
            <a href="#" class="dropdown-item">
              Продакт-менеджмент
            </a>
            
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- строка 2 -->
<div class="level-left" style="padding: 10px;">
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7">
      <strong>Школа</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
          <span>Выбрать</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu3" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item">
            Нетология
          </a>
           <a href="#" class="dropdown-item">
            SkillBox
          </a>
          <a href="#" class="dropdown-item">
            SkillFactory
          </a>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- строка 3 -->
<div class="level-left" style="padding: 10px;">
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7">
      <strong>Название курса</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
          <span>Выбрать</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu3" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item">
            Покори Маркетинг за 30 дней
          </a>
           <a href="#" class="dropdown-item">
            Букварь маркетинговых кампаний
          </a>
          <a href="#" class="dropdown-item">
            Искусство продаж
          </a>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- строка 4 -->
<div class="level-left" style="padding: 10px;">
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7">
      <strong>Оценка</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
          <span>Выбрать</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu3" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item level-item" aria-label="like">
          
                <span class="icon is-small">
                  <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
                </span>
              </a>
            </div>
          </a>
          <a href="#" class="dropdown-item level-item" aria-label="like">
          
            <span class="icon is-small">
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
            </span>
          </a>
          <a href="#" class="dropdown-item level-item" aria-label="like">
          
            <span class="icon is-small">
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
            </span>
          </a>

          <a href="#" class="dropdown-item level-item" aria-label="like">
          
            <span class="icon is-small">
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
            </span>
          </a>

          <a href="#" class="dropdown-item level-item" aria-label="like">
          
            <span class="icon is-small">
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
              <i class="fa-solid fa-star" aria-hidden="true" style = "color:yellow; display:inline-block;"></i>
            </span>
          </a>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- строка 5 -->
<div class="level-left" style="padding: 10px;">
  <div class="level-item column is-one-quarter" style = "text-align: right;">
    <p class="subtitle is-7">
      <strong>Отзыв</strong>
    </p>
  </div>

  <div class="level-item column is-half">

    <input class="input is-link" type="text" placeholder="Link input" style = "width:500px;">

  </div>

  <div class="level-item column is-one-quarter">
  <button class="button is-link" style = "align-items: center; float: none;">Отправить
  </button>
  </div>

</div>

</nav>

<div class="container is-max-widescreen">
<div class = "column is-one-quarter" style = "text-align: center; padding: 10px; display: inline-block;">
  <p class="subtitle is-5">
    <strong>Не нашли свой курс?</strong>
  </p>
</div>

<div class="buttons container is-max-widescreen column is-half" style = "align-items: center; display: inline-block;">
  <button class="button is-link" style = "align-items: center; float: none;">Оставьте запрос на добавление курса
  </button>
</div>

</div>

<div class="container is-max-widescreen" style = "text-align: center; padding: 10px;">

    <div class = "column is-one-quarter" style = "text-align: center; padding: 10px; display: inline-block;">
      <p class="subtitle is-5">
        <strong></strong>
      </p>
    </div>
    
    <div class="container is-max-widescreen column " style = "text-align: left;">
      <p class="subtitle is-5">
        Мы свяжемся с Вами, как только курс будет доступен на ScoreBox.
      </p>
    </div>


</div>


    


  {% endblock %}